{
  "parser": "babel-eslint",

  "env": {
    "atomtest": true,
    "browser": true,
    "jasmine": true,
    "node": true,
  },

  "extends": [
    "eslint:recommended",
    "google",
  ],

  "rules": {
    "max-len": 0,
    "semi": 2,
    "strict": 0,
  },

  "globals": {
    "atom": false,
  },
}
